@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body {
    background-color: rgb(131, 183, 241);
    margin: 40px;
    padding: 20px;
    border: 25px;
}

header {
    color: white;
    text-align: center;
    padding: 15px;
}

#main-e-section {
    background-color: white;
    border-radius: 25px;
    text-align: center;
    display: inline-block;
    font-size: 15px;
    padding: 30px;
    margin: auto;
}